<div id="index-container">
   
    <div id="app-header">
     <div id="title-image">
        <img src="/images/comon-logo-200px@2x.png"/>    
     </div>
          <div id="app-title">
        Web_Chat_Application
     </div>
    </div>
    <div class="sub-title">Anonymously chat with anyone</div>
    <div class="block username-block">
        <b>Name</b>
        <input type="text" placeholder="Enter your name" onclick="this.select()" value="{{{data.randomUserName}}}" id="userName"/> OR use ramdon Anonger name 
    </div>
     <div class="block room-block">
        <b>Room</b>
        <input type="text" placeholder="Enter room name" onclick="this.select()"  value="{{{data.randomRoomName}}}"id="roomId"/> OR use random room name
    </div>
    <div class="block" id="enter-room">Start Now</div>
    <div class="footer" id="index-footer">
        <label>
            <a class="github-button" href="https://github.com/rawatgit/Chat_Application.git" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" aria-label="Fork Anonger Chat App on GitHub">Fork on Github</a>
        </label>
        <br>
        <label>
         Copyright (c) 2021 Varun Rawat    
        </label>
        <br>
        <label>
            <a href="https://github.com/rawatgit" target="_blank">rawatgit</a>
        </label>
    </div>
</div>