 <div id="message-box">
    <ul id="messages"></ul>
 </div>
 <div class="btn-helper-conatiner"> 
        <button class="btn-helper" id="home-link" onclick="location.href = '/'">Home</button>
        <button class="btn-helper" id="refresh-link" onclick="location.reload()">Clean</button>
</div>
<div id="message-editor">
    <div class="typing"></div>
    <form action="">
        <input type="hidden" id="m" autocomplete="false"/>
        <div id="editor"></div>
        <button id="send-btn">Send</button>
    </form>
</div>